[submodule "pine-git"]
	path = pine-git
	url = https://gitlab.com/al3xio/pine-git.git
[submodule "pine-server"]
	path = pine-server
	url = https://gitlab.com/al3xio/pine-server.git
[submodule "pine-client"]
	path = pine-client
	url = https://gitlab.com/al3xio/pine-client.git
[submodule "pine-error"]
	path = pine-error
	url = https://gitlab.com/al3xio/pine-error.git
