[submodule "immunity-server"]
	path = immunity-server
	url = https://gitlab.com/al3xio/immunity-server.git
[submodule "immunity-client"]
	path = immunity-client
	url = https://gitlab.com/al3xio/immunity-client.git
